<div class="card mt-3" id="form">
    <%= form_with model: @user.organizations.build, url: url do |f| %>
        <%= f.text_field  :name, class: "form-control mt-3 mx-auto", placeholder: "Organization name", style: "width: 90%;" %>
        <%= f.text_field  :email, class: "form-control mt-3 mx-auto", placeholder: "Email", style: "width: 90%;" %>  
        <%= f.submit class: "btn btn-primary mt-4 mx-3 mb-3"%>
    <% end %>
</div>